/*GENERAL*/

button {
    background: #212121;
    color: #FFF;
}

button:hover {
    background: #FF24BD;
    color: #FFF;
}

.ps-room.ps-room-light {
    color: #FF24BD;
    background: url("http://i.imgur.com/138IlUi.jpg?1");
    font-size: 9pt;
}
